
.header-btn{
    box-sizing: border-box;
    border: "2px solid #042B26",
}
.header-btn >img {
    object-fit: contain;
}
.z-index{
    z-index: 1000
}
.font-sacra{
    font-family: 'Sacramento', cursive;
}
.text-large{
    font-size: 5rem;
}
.bg-black{
background-color: rgba(0, 0, 0, 0.4);
}
.text-color{
    color: #E5D896;
}
.btn-bg{
    background-color:#E5D896 ;
}
.btn-text{
    color: #042B26;
}
.w-large{
    width: 100vw,

}
.h-large{
    height: 100vh;
}
.align-between{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.bg-partner{
    background: rgba(229, 216, 150, 0.40);
}
.f-w{
font-weight: 500;
font-size: larger;
}
.f-size{
    font-size: smaller;
    letter-spacing: 1px;
}
.c-position{
  position: fixed;
  bottom:0;
  right:5%;
  z-index: 1000;
}
.pointer{
    cursor: pointer;
}
.style-none{
    list-style: none;
}


@media (max-width: 768px) {
    .btn-container {
     display: flex;
     flex-direction: column;
     
    }
}