@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sacramento&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Sacramento', cursive; */
}
/* *{
  border: 1px solid red !important;
} */

.bg-color {
  background-color: #042B26;
}
@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  
}